---
layout: page
permalink: /tags/
title: Tagi
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}

{% assign rawtags = "" %}
{% assign firmy = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
        {% assign firmtags = post.firmy | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags | append:firmtags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes duplicate tags and invalid tags like a blank tag.
=======================
{% endcomment %}

{% assign tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}

<div>
{% for tag in tags %}
  {% if site.tags contains tag %}
    <a class="post-tag" href="#{{ tag | slugify }}">{{ tag }}</a>
  {% else %}
    <a class="firma-tag" href="#{{ tag | slugify }}">{{ tag }}</a>
  {% endif %}
  {% unless forloop.last %}, {% endunless %}
{% endfor %}
</div>

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}

{%- assign date_format = site.minima.date_format | default: "%d.%m.%Y r." -%}
{% for tag in tags %}

        {% if site.tags contains tag %}
	    <h3 id="{{ tag | slugify }}">{{ tag }}</h3>
        {% else %}
            <h3 id="{{ tag | slugify }}" style="color: #b60670;">{{ tag }}</h3>
        {% endif %}

	<ul>
        
	{% for post in site.posts %}
               
	       {% if post.tags contains tag %}	 
		 <p>
                 <a href="{{ post.url }}">{{ post.title }}</a>
                 <span class="post-meta">({{ post.date | date:date_format }})</span>
                 </p>
	 	 
               {% elsif post.firmy contains tag %}
                 <p>
                 <a href="{{ post.url }}">{{ post.title }}</a>
                 <span class="post-meta">({{ post.date | date:date_format }})</span>
                 </p>
		 
	       {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
