<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.keep_referers %}
{% else %}<meta name="referrer" content="same-origin">
{% endif %}
  {%- seo -%}
{% if page.image %}
<meta property="og:image" content="{{ site.url }}/assets/{{ page.image }}">
<meta property="og:image:width" content="201">
<meta property="og:image:height" content="201">
{% else %}
<meta property="og:image" content="{{ site.url }}/assets/og-image-default.jpg">
<meta property="og:image:width" content="201">
<meta property="og:image:height" content="201">
{% endif %}
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/creepy_emoji.svg">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
{%- feed_meta -%}
</head>


