<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.keep_referers %}
{% else %}<meta name="referrer" content="same-origin">
{% endif %}
{%- seo -%}

<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

{%- feed_meta -%}

{% if page.alternate %}
  {% if page.alt_lang == 'pl' %}
    {% assign main_lang="en" %}
  {% elsif page.alt_lang == 'en' %}
    {% assign main_lang="pl" %}
  {% endif %}
<link rel="alternate" href="{{ site.url }}{{page.url}}" hreflang="{{main_lang}}" />
<link rel="alternate" href="{{ site.url }}/{{page.alternate}}" hreflang="{{page.alt_lang | default: 'pl'}}" />
{% endif %}

</head>


