---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Wpisy" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%d.%m.%Y r." -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  
  <h2 class="post-list-heading">Serie</h2>
  {% for seria in site.serie %}
    <p><a href="{{seria.permalink}}">{{seria.readable_name}}</a></p>   
  {% endfor %}
  
  <p style="margin-top: 60px">
  <a href="/feed.xml">
    <img class="svg-icon" src="/assets/feed-icon.png"/>RSS
  </a>
  </p>

</div>
